<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>SpringTodoList</title>
</head>
<body>
 <h1>やること</h1>
  <!-- create追加 -->
  <div class="create-todo">
    <!-- th:objectでControllerから送られてきたTodoオブジェクトを受け取っている -->
    <form method="POST" th:action="@{/}" th:object="${todo}">
      <!-- 入力値にエラーがあった時のみ表示 -->
      <p th:errors="*{content}" class="todo-error-message"></p>

       <!-- th:fieldでHTMLのid,name属性を作ってくれる -->
      <input type="text" th:field="*{content}">
      <button type="submit">登録</button>
    </form>
  </div>
  <!-- createここまで -->
  
  <div th:each="todo : ${allTodo}">
    <p th:text="${todo.content}"></p>
  </div>
    <!-- update変更点 -->
  <div class="flex">      
    <div class="incomplete">
      <h1>未完了</h1>
      <div th:each="todo : ${allTodo}">
        <!-- doneのフラグがfalseのものを表示 -->
        <div th:if="${!todo.done}">
          <!-- Controllerの @PostMapping(/done) と結びつける -->
          <!-- 丸いボタン作成し、押されたらControllerの処理が走る -->
          <!-- Todoのidを渡して、idbooleanの値を変更してDBの値を変更する -->
          <form method="POST" th:action="@{/done}">
            <input type="hidden" name="id" th:value="${todo.id}" />
            <button type="submit"></button>
          </form>
          <p th:text="${todo.content}"></p>
        </div>
      </div>
    </div>

    <div class="complete">
      <h1>完了済み</h1>
      <!-- doneのフラグがtrueのものを表示 -->
      <div th:each="todo : ${allTodo}" th:if="${todo.done}">
        <p th:text="${todo.content}"></p>
      </div>
    </div>

  </div>
  <!-- updateここまで -->
</body>

</html>